name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Build and Test
        run: |
          cd src/koekalenteri-frontend
          npm ci
          npm run lint
          npm run build
          npm test -- --coverage
      - name: Coveralls GitHub Action
        uses: coverallsapp/github-action@v1.1.2
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          base-path: ./src/koekalenteri-frontend
          path-to-lcov: ./src/koekalenteri-frontend/coverage/lcov.info
